.logo-font{
   font-size: 30px;/* IE8以下とAndroid4.3以下用フォールバック */
   font-size: calc(2.0rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
   font-family: Comic Sans MS;
   line-height: 1.3;
   margin-top: 20px;
   margin-left: 10px;
}

.subheading{
  font-size: 40px;/* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
  line-height: 1.3;
}

.img-fluid{
  filter: brightness(70%);
}

/* 文字を中央に揃える */
.card-img-overlay{
  padding: 0;
  top: calc(50% - 0.5rem);
  text-align: center;
  font-weight: bold;
}


body{
  background-color   : #ffffff;
  background-image   : radial-gradient(rgba(153, 153, 153, 0.33) 3%, transparent 23%),
                       radial-gradient(rgba(153, 153, 153, 0.33) 3%, transparent 23%);
  background-position: 0 0, 4px 4px;
  background-size    : 8px 8px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  
}



    .sidebar_position{
      position: fixed;
      margin-top:15%;
      margin-left:2.5%;
    }
    .side-icon{
      height: 40px;
      width:40px;
    }
    h1{
      font-size: 40px;
    }

    a{
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }


    .image-font{
      font-size: 30px;/* IE8以下とAndroid4.3以下用フォールバック */
      font-size: calc(2.9rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
      font-family: Comic Sans MS;
      line-height: 1.3;
      margin-top: 20px;
      margin-left: 10px;
    }
        
        
    .box {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      height: auto;
    }
    
    .text-p {
      width: 70%;
      padding: 30px;
      text-align: left;

    }
    
    h3 {
      font-size: 21px;
      margin: 0;
    }
    
    .pict {
      width: 30%;
      margin-top: 2%;
      margin-right: 2%;
      margin-bottom: 1%;
    }
    
    .pict img {
      width: 100%;
      height:auto;
    }
    
    .box:nth-child(even) {
      flex-direction: row-reverse;
    }
    .box:nth-child(even) .app-title{
      text-align: center;
    }
    .box:nth-child(even) .pict {
      margin-left: 2%;
    }
    
    @media (max-width:768px) {
      .box {
        flex-direction: column;
        height: auto;
      }
      .box:nth-child(even) {
        flex-direction: column;
      }
      .text-p {
        text-align: center;
        width: 100%;
      }
      .box:nth-child(even) .text-p {
        text-align: center;
      }
      .pict {
        width:100%;
        margin-left: 0;
        margin-bottom:30px;
        text-align: center;
      }
      .box:nth-child(even) .pict {
        margin-left: 0;
        margin-right: 0%;
      }
      .pict img {
        width:50%;
        height:auto;
      }
      .text-p ul{
        list-style: none;
      }
    }

    .bx-bg-color{
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }


    #footer-wrap{
      width: 100%;
    }

    #footer{
     
      background-color: #000;
      color: white;
      text-align: center;
      margin-top: 300px;
      width:100%;
  }

  h6.anchor {
    display: block;
    padding-top: 380px;
    margin-top: -380px;
}


  .side-icons{
    display: flex;
    flex-direction: column;
  }

  @media (max-width:991px) {
    .side-icons{
      display:none;
    }
  }

  